<h1>Быстрый и легкий деплой веб-приложения</h1>

<p>Привет, хабр! Думаю у многих возникала усталость от бесконечного конфигурирования серверов или постоянной монотонной рутины - подключился на сервер, клонировал репозиторий, установил, отключился. И так по кругу.</p>

<p>Или просто появлялась банальная лень - хотелось бы просто указать репозиторий, указать команды для сборки, и чтобы все сделали за тебя... Желательно чтобы и недорого, и с логами, и с поддержкой нескольких языков программирования и фреймворков. И Docker-контейнеры, и бекенд, и фронтенд.</p>

<p>Если вы давно желали такого - вы обратились по адресу. Наш сервис Timeweb Cloud Apps поможет исполнить все ваши желания - от простого деплоя-теста на пару дней до полноценного развертывания сайта без лишних телодвижений.</p>

<p>И для того, чтобы полностью погрузиться в это тему - <b>мы создадим свое веб-приложение - мини общественную стену на python, фреймворке Flask!</b></p>

<p>Весь исходный код </p>

<cut />

<p>Итак, мы - Timeweb. Мы предоставляем услуги хостинга уже более 15 лет, имеем надежные сервера и низкие цены. У нас есть много разных услуг - от облачных серверов до физических серверов и хранилищ S3. Недавно мы презентовали наш новый сервис - Cloud Apps, или же облачные приложения. Это специальная услуга, которая предоставляет вам автоматическую выгрузку кода из репозитория и автодеплоя его на наши серверах.</p>

<p>Приложение делится на три типа - frontend, backend и docker. Cloud Apps поддерживает большинство популярных языков программирования и фреймворков - "большая тройка" JS-библиотек (vue, react, angular) и другие популярные библиотеки или даже просто ванильный nodeJS, бекенд - от PHP и NodeJS до Java, Python, Go, Elixir и .NET, а также просто через Docker-контейнер. </p>

<p>Для приложений мы предоставляем три региона сервера на выбор - Санкт-Петербург, Польша и Нидерланды.</p>

<p>Для бекенд и docker приложений у нас существует около 7 тарифов, а для фронтенда у нас 4 тарифа.</p>

<p>Если вам потребуется, то есть возможность добавить нужные переменные, изменить директорию сборки, команду сборки, нужную ветку в github-репозитории и настроить сборку по последнему коммиту.</p>

<p>И в конце сервис сам установит зависимости, скомпилирует ПО и запустит его на сервере без вашего участия.</p>

<h2>Достоинства и нюансы Cloud Apps</h2>

<p>Cloud Apps позволят вам управлять вашими серверами проще, заказав эту услугу у нас, вы получаете:</p>

<ul>
	<li>Доступ к логам</li>
	<li>Автоматическая установка зависимостей</li>
	<li>Возможность выбора версий фреймворков и библиотек</li>
	<li>Поддержка различных приложений - от простых докер-контейнеров до развертывания бекенда</li>
	<li>Поддержка различных языков программирования и их фреймворков</li>
	<li>Возможность использовать приватные репозитории</li>
	<li>Автодеплой</li>
	<li>Быстрота и легкость использования</li>
	<li>Экономия затрат</li>
	<li>Масштабируемость</li>
</ul>

<p>К сожалению, приложения имеют недостатки и нюансы использования. Они предлагают делегировать настройку и самостоятельную сборку программы, иногда это пойдет на пользу, а иногда только наоборот - лучше использовать полноценный сервер и самому потратить время на настройку и деплой.</p>

<p>Среди нюансов можно выделить следующие проблемы:</p>

<ul>
	<li>Проблемы с конфигурированием - если приложение требует много настроек в конфигах, то лучше вручную запустить сервер.</li>
	<li>Невозможен доступ по FTP и SSH</li>
	<li>Неудобства при длинном алгоритме сборки</li>
	<li>Неудобство при долгосрочном администрирования</li>
	<li>Ограниченные возможности конфигурации</li>
</ul>

<h2>Как работает Cloud Apps?</h2>

<p>Как мы уже говорили, Apps - это облачный сервис для автоматической выгрузки кода и автодеплоя ваших приложений на наших серверах.</p>

Работает он так:

<ul>
	<li>Шаг 1. Вы заказываете сервис — подключаете репозиторий на GitHub, GitLab или Bitbucket и выбираете нужный фреймворк и сервер с подходящими параметрами.</li>
	<li>Шаг 2. Все остальное делаем мы: запускаем сервер с необходимым ПО, «подтягиваем» ваш код из репозитория, ставим зависимости, проверяем код и запускаем его.</li>
</ul>

<p>После запуска сервиса вы можете работать с кодом, как обычно: вносить правки и дополнения и делать коммиты в репозиторий. Сервис Apps автоматически отследит наличие изменений и, если у вас включен автодеплой, выкатит обновления в продакшен-среду.</p>

<p>Если что-то пошло не так и нужно откатиться на прошлую версию — запустите новый деплой с коммитом, по которому был последний успешный деплой.</p>

<p>К приложению будет привязан бесплатный технический домен с SSL Let's Encrypt, который можно использовать для тестирования и запросов к вашему приложению.</p>

<p>Основная функция сервиса приложений — автоматический деплой. Apps автоматически выгружает на сервер код вашего сайта, API-сервиса, приложения и т.п. </p>

<p>Для бекенда также автоматически запускается сервер на nginx, а также приложение хранится в Docker-контейнере.</p>

<p>Работа сервиса с frontend-приложениями имеет одно важное отличие от backend-приложений — после сборки мы не создаем Docker-контейнер, приложение хранится в директории на сервере. Такое приложение — это статические файлы, которые отдаются клиентам с сервера.</p>

<p>Однако, в отличие от обычного размещения приложения на сервере, где вам нужно самостоятельно настраивать окружение, сервис Apps, как и в случае с бэкенд-приложениями, сделает всё за вас:</p>

<ul>
	<li>«подтянет» код из репозитория,</li>
	<li>установит зависимости и ПО, </li>
	<li>настроит Nginx, </li>
	<li>выпустит SSL-сертификат,</li>
	<li>выполнит сборку вашего приложения.</li>
</ul>

<p>А в дальнейшем будет автоматически деплоить изменения — если вы оставите включенной опцию автодеплоя.</p>

<h2>Запуск приложения на Cloud Apps</h2>

<p>Время тестировать наш сервис. Но перед созданием Cloud App нам требуется сам репозиторий - и этот репозиторий можеть быть на вашем GitHub (но также поддерживается GitLab и BitBucket) аккаунте, либо можно даже просто склонировать по URL. Мы советуем первый способ, т.к. так можно сделать всю настройку, и запушить все в приватный репозиторий, ведь при первом способе можно импортировать даже их, в отличии от второго.</p>

<p>Если у вас остались вопросы, то советуем перейти на <a href="https://timeweb.cloud/docs/apps/connecting-repositories">документацию по подключению репозиториев</a>. Там все рассказано подробно, если у вас возникнут ошибки или проблемы.</p>

<p>Для начала вам потребуется зайти на <a href="https://timeweb.cloud/services/vds-vps">Timeweb Cloud</a> и зарегистрироваться или войти в аккаунт.</p>

<img src="https://habrastorage.org/webt/w1/sq/d3/w1sqd3ss6nyzmez79agreuokyuc.png" alt="">

<p>После этого вы попадете в ваш личный кабинет:</p>

<img src="https://habrastorage.org/webt/ql/2e/ao/ql2eaoxk5mruuc6oamwooxsdv5a.png" alt="">

<p>После перейдите на вкладку "Apps"</p>

<img src="https://habrastorage.org/webt/ap/bk/gf/apbkgfd6emnrwwajqmsm6bsra-g.png" alt="">

<p>Далее надо создать приложение - нажмите на кнопку "Создать"</p>

<p>И мы переходим на страницу создания приложения. Вот с этого момента поподробнее:</p>

<p>Не забудьте выбрать нужный вам репозиторий - из вашего аккаунта или по URL.</p>

<p>Мы разберем сейчас 3 варианта приложений - фронтенд, бекенд и докер</p>

<h3>Frontend Cloud App</h3>

<p>Если вам требуется только фронтенд, например просто сайт-визитка или небольшое портфолио, то выбирайте Frontend.</p>

<img src="https://habrastorage.org/webt/mu/s-/fm/mus-fmnoznyx9gbuozudo6fvjy4.png" alt="">

<p>У вас есть на выбор 8 JS-библиотек или просто ванильный NodeJS, а также выбрать его версию - 16, 18 или 20.</p>

<p>Дальше идет этап выбора репозитория. Как мы уже говорили, вам требуется либо выбрать его из своего аккаунта, либо импортировать по URL (не забудьте про .git в конце URL.</p>

<p>Дальше выбираем регион - Санкт-Петербург, Польша или Нидерланды.</p>

<img src="https://habrastorage.org/webt/6g/v5/6o/6gv56oxmovfxdiz5tode9dzihks.png" alt="">

<p>Потом выбираем конфигурацию. На данный момент существуют следующие:</p>

<ul>
	<li>50 тыс. запросов в месяц, 50МБ NVMe, стоимость - 1 рубль/месяц</li>
	<li>200 тыс. запросов в месяц, 1ГБ NVMe, стоимость - 99 рублей/месяц</li>
	<li>2 млн. запросов в месяц, 2ГБ NVMe, стоимость - 890 рублей/месяц</li>
	<li>10 млн. запросов в месяц, 10ГБ NVMe, стоимость - 3 990 рублей/месяц</li>
</ul>

<p>Сейчас самое важное - это настройка сборки приложения. Для фронтенд чаще всего команда сборки - это "npm run build" и директория сборки - "/dist/<название приложение>". Директория сборки - это где именно будет запускаться сама сборка и деплой приложения. Также можно добавить переменные, если таковые требуется.</p>

<img src="https://habrastorage.org/webt/in/gt/dh/ingtdhsurwzsykitrroqfw0e_o8.png" alt="">

<h3>Backend Cloud App</h3>

<p>Если вам уже надо развернуть полноценный сервер на одном из языков программирования, выбирайте Backend.</p>

<p>Если вам уже надо развернуть полноценный сервер на одном из языков программирования, выбирайте Backend.</p>

<p>Для начала - выберите язык программирования и нужный фреймворк</p>

<img src="https://habrastorage.org/webt/r0/ko/id/r0koidnbahrpauxao3s_diusw1u.png" alt="">

<p>Дальше выбираем регион - Санкт-Петербург, Польша или Нидерланды.</p>

<img src="https://habrastorage.org/webt/6g/v5/6o/6gv56oxmovfxdiz5tode9dzihks.png" alt="">

<p>Потом выбираем конфигурацию. Существуют следующие:</p>

<img src="https://habrastorage.org/webt/eb/a2/8c/eba28ccvrclkyz1ncdz4aq2ofhm.png" alt="">

<p>Теперь настройка сборки и запуска приложения. Вам требуется заполнить поле сборки серверного ПО, а также команду запуска. Если сборка не требуется, то заполняйте только команду запуска. Также можно добавить переменные, если таковые требуется.</p>

<img src="https://habrastorage.org/webt/sk/nb/wd/sknbwdtiydfg607wnsncgtajs_m.png" alt="">

<h3>Docker Cloud App</h3>

<p>Docker - это система виртуализации в контейнерах. Вам требуется просто выбрать репозиторий:</p>

<img src="https://habrastorage.org/webt/b3/lc/2e/b3lc2esj6pt0bomctshjqymo6f0.png" alt="">

<p>Дальше вы можете также выбрать конфигурацию сервера:</p>

<img src="https://habrastorage.org/webt/lw/1h/a4/lw1ha4xx9dwv9sdzig2abmxr_ue.png" alt="">

<h3>Заканчиваем создание</h3>

<p>Ну и под конец - информация о приложении. Название, к какому проекту принадлежит.</p>

<img src="https://habrastorage.org/webt/0_/zn/wg/0_znwgirctltxqza3e1ma2e2swo.png" alt="">

<p>После этого нажимаете "Запустить деплой"</p>

<h2>Устранение ошибок деплоя</h2>

<p>После создания приложения вас перенесет на его страницу. У вас будет вкладка "Деплой", и на нем будет лог процесса сборки приложения. Рекомендуем включить режим расширенных, чтобы видеть все ошибки.</p>

<p>Наш сервис автоматически поставит все зависимости, настроить конфигурацию и запустит его. И также - вам будет выдан бесплатный домен в зоне .net.</p>

<p>Также, если вы где-то ошиблись, вы можете легко поменять конфигурацию или параметры сборки</p>

<img src="https://habrastorage.org/webt/in/kj/fx/inkjfxc-qxu9loh7es2rst3vbjo.png" alt="">

<h3>Ошибки с директорией сборки</h3>

<p>У вас могут возникнуть ошибки, которые не будут связаны со сборкой - из-за того что сервер не может найти файлы для отображения или запуска. Например, тот же index.html для сайта. Если у вас возникла такая ошибка, то есть два способа исправления:</p>

<ul>
	<li>Попробуйте проверить директорию сборки. Скорее всего, ошибка с ней. Укажите разные пути, репозиторий клонировался в отдельную поддиректорию.</li>
	<li>Попробуйте указать команду перемещения всех файлов из репозитория в отдельную директорию в корневом каталоге, и его добавить в директории сборки.</li>
</ul>

<p>Если проблема не решается, напишите в <a href="https://timeweb.cloud/my/support">поддержку</a> или в комментарии, мы постараемся ответить как можно быстрее.</p>

<p>Не забывайте, что директория сборки рассчитывается от корневого каталога ("/")</p>

<h3>Ошибки со сборкой</h3>

<p>Возможно, например при сборке frontend-приложения, вы могли получить ошибку, что нет сценария для определенной команды. Тогда перепроверьте команду сборки в соответствии с документацией.</p>

<p>Также возможно у вас будут проблемы из-за того, что вы не установили зависимости, а наш сервис не смог установить все.</p>

<h3>Требуется продвинутая настройка</h3>

<p>Не совсем ошибка, но из-за данного фактора могут возникнуть проблемы. Например, приложение требует создать файл config.ini и туда поместить ключ API какого-нибудь сервиса. Для этого нам потребуется знание скриптового языка BASH. Вот, например, я создаю файл конфига и вношу туда ключ:</p>

<code lang='bash'>
$ echo "KEY=ABCDEF123456" >> config.ini
</code>

<p>Также, если требуется ввести несколько команд, можно использовать следующую конструкцию, разделяя их логическим символом "&&"</p>

<code lang="bash">
$ echo "KEY=ABCDEF123456" >> config.ini && npm build run
</code>

<h3>Другие проблемы</h3>

<p>Если у вас не возникла проблема, напишите в <a href="https://timeweb.cloud/my/support">поддержку</a> или в комментарии, мы постараемся ответить как можно быстрее.</p>

<h2>Практические кейсы</h2>

<p>Для вас мы собрали список вещей, которых можно задеплоить на Cloud Apps, и с которыми не возникнет ошибок</p>

<ul>
	<li>Сайт-визитка - если вам требуется быстро опубликовать простейший сайт-визитку на недорогом сервере, то вы можете использовать наш сервис. Быстро, мало проблем и низкая цена</li>
	<li>Портфолио - тоже не требует больших вложений, просто запустил и все готово.</li>
	<li>Блог - если вам требуется опубликовать небольшой блог, то наш сервис тоже сможет это сделать.</li>
	<li>Простые сайты для показа информации - например, вам нужно быстро опубликовать документацию к проекту. Вы можете спокойно использовать приложение. <a href="https://github.com/timeweb-cloud/app-example-net-core">Вот пример простого сайта на ASP.NET</a></li>
</ul>

<p>Примеры для приложений на платформе Cloud Apps вы можете посмотреть в <a href="https://github.com/timeweb-cloud?tab=repositories">репозиториях нашей github-организации</a>.</p>

<p>Возьмем пример - это <a href="https://github.com/timeweb-cloud/app-example-flask">backend-приложение сайта на python, Flask</a></p>

<p>Для его запуска нам потребуется ввести следующие значения при создании или редактировании приложения:</p>

<code lang="bash">
# установка зависимостей, команда сборки. Флаг --break-system-packages нужен, чтобы не создавать виртуальное окружение.
pip3 install -r requirements.txt --break-system-packages

# запуск приложения, команда запуски
python3 main.py
</code>

<p>К сожалению, доступ к приложениям по SSH и FTP не доступен. Так что вам придется управлять приложением только через личный кабинет на нашем сайте, о других нюансах мы также говорили выше. Поэтому лучше не деплоить высоконагруженные большие проекты через Cloud Apps. Но если вам нужно быстро что-то протестировать - то советуем использовать наш сервис.</p>

<h2>Пример создания приложения #1 - Фронтенд</h2>

<p>Ниже я расположил его конфигурацию. Это простой одностраничный веб-сайт на React:</p>

<ul>
	<li>Версия NodeJS - 16</li>
	<li>Команда сборки - npm run build</li>
	<li>Директория сборки - /build</li>
</ul>

<p>Сайт является по сути пустым, он просто демонстрирует работу React-приложения на платформе Cloud Apps</p>

<p>Увидеть этот сайт вы можете по <a href="https://qibro-simple-nodejs-api-d648.twc1.net/">ссылке</a>.</p>

<h2>Пример создания приложения #2 - Бекенд</h2>

<p>Это и есть та открытая стена, о которой мы говорили в самом начале. Мы будем использовать язык программирования Python и фреймворк Flask.</p>

<p>Если вы хотите сразу опробовать его - перейдите на <a href="">сам сайт</a> или в его <a href="https://github.com/AlexeevDeveloper/openwall">репозиторий</a></p>

<p>Итак, допустим вы хотите сделать проект с самого начала. Тогда следуйте дальнейшим шагам для создания базового виртуального окружения. Виртуальное окружение позволит изолировать ваш проект от остальных. Все команды будут указаны для Linux.</p>

<code lang='bash'>
python3 -m venv venv && source venv/bin/activate && pip3 install flask gunicorn flask_sqlalchemy && pip3 freeze > requirements.txt
</code>

<p>Этой командой мы: а) создали виртуальное окружение и активировали его; б) установили зависимости - сам flask и gunicorn для запуска его на сервере; в) "заморозили" зависимости в файле, чтобы после можно было их установить на сервер.</p>

<p>После давайте откроем файл app.py и вставим в него следующий код:</p>

<code lang='python'>
# Импорт модулей
from datetime import datetime
from flask import Flask, render_template, url_for, request, redirect
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import desc

# Создание БД и приложения
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///wall.db'
app.config['SECRET_KEY'] = 'habr'
db = SQLAlchemy(app)


# Модель поста для БД
class Post(db.Model):
	__tablename__ = 'posts'
	id = db.Column(db.Integer(), primary_key=True)
	title = db.Column(db.String(255), nullable=False)
	content = db.Column(db.Text(), nullable=False)
	created_on = db.Column(db.DateTime(), default=datetime.utcnow)

	def __repr__(self):
		return "<{}:{}>".format(self.id,  self.title[:10])


@app.route('/')
@app.route('/index')
def index():
	posts = Post.query.order_by(desc(Post.created_on)).all() 	# получаем посты и сортируем по дате создания

	return render_template('index.html', posts=posts)


@app.route('/new', methods=['GET', 'POST'])
def new_post():
	# Создание нового поста 
	if request.method == 'POST':
		title = request.form['title']
		content =  request.form['content']

		if len(title) > 0 and len(content) > 0:
			post = Post(title=title, content=content)
			db.session.add(post)
			db.session.commit()
			return redirect('index')
		else:
			return render_template('newpost.html')

	return render_template('newpost.html')


if __name__ == '__main__':
	app.run(debug=True)
</code>

<p>После вы должны создать файл create_db.py, в котором будет код создания БД:</p>

<code lang="python">
from app import app, db

with app.app_context():
	db.create_all()
</code>

<p>Но это еще не конец - нам требуется создать файл main.py. Это будет файл продакшен-сервера, и выглядит он вот так:</p>

<code lang='python'>
from app import app

if __name__ == '__main__':
	app.run(debug=True)
</code>

<p>Не забудьте создать в папке templates файлы HTML-шаблонов. Их можно увидеть в [репозитории](https://github.com/AlexeevDeveloper/openwall).</p>

<p>Выходим на финишную прямую - создаем скрипт для сборки проекта:</p>

<code lang="bash">
#!/bin/bash

python3 -m venv venv
source venv/bin/activate
pip3 install -r requirements.txt

python3 create_db.py

echo "END"
</code>

<p>Здесь мы создаем виртуальное окружение, устаналиваем зависимости и создаем БД.</p>

<h3>Деплой на Cloud Apps</h3>

<p>Займемся переносом приложения на Cloud Apps. Укажите URL вашего GIT-репозитория, в этом примере - наш сайт.</p>

<img src="https://habrastorage.org/webt/bg/xy/tx/bgxytxuxv2mswcpp7jxw0m8nfdi.png" alt="">

<p></p>

<h2>Заключение</h2>

<p>Приложения могут быть невероятно полезны. Быстро опубликовать сайт-визитку, протестировать что-то или сделать временный сайт - без проблем. Но когда дело касается серьезных проектов - лучше использовать обычные сервера и потратить время на ручную настройку.</p>

<p>Как итог, Cloud Apps может быть невероятно полезен на краткосрочный период, но его будет неудобно использовать на долгосрочный период из-за проблем дальнейшего обслуживания сервера.</p>

<p>Все цены и информация действительны на время написания статьи - первая середина мая.</p>

<h3>Полезные ссылки</h3>

<ul>
	<li><a href="https://timeweb.cloud/docs/apps/deploying-backend-applications">Инструкции по деплою backend-приложений</a></li>
	<li><a href="https://timeweb.cloud/services/vds-vps">Timeweb Cloud</a></li>
	<li><a href="https://timeweb.cloud/docs/apps/deploying-backend-applications/asp-net">Инструкция по деплою ASP.NET приложений</a></li>
	<li><a href="https://timeweb.cloud/docs/apps/connecting-repositories">Инструкция по подключению репозиториев</a></li>
	<li><a href="https://github.com/AlexeevDeveloper/openwall">Репозиторий с примером бекенд-приложения</a></li>
</ul>